<!doctype html>
<html lang="en">
	<head>
		<title>Music Search</title>
		<meta charset="utf-8">
		<link rel = "stylesheet" href="css/styles.css">
	</head>
	<body ng-app="MusicSearchApp">

		<div class="container" ng-controller="MusicSearchController as music">
			<!--Search box-->
		    <h1>Search for an artist</h1>

		    <div>
		      <input type="text" placeholder="search term" class="form-control" ng-model="music.query">
		    </div>
		    <div>
		      <button ng-click="music.search()">Search</button>
		    </div>
		    <div ng-if="music.message">{{music.message}}</div>
		    {{results}}
		  </div>
		



		<!--Scripts-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    	<script src="lib/angular.js"></script>
        <script type="text/javascript" src="src/app.js"></script>
	</body>
</html>